<span class="fullVersionHistory">
    <ul class="fullVersionInfo">
        {%- if site.edition -%}
            {%- if site.edition == 'algorithm' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_algorithm -%}
            {%- elsif site.edition == 'js' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_js -%}
            {%- elsif site.edition == 'mobile' -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_mobile -%}
            {%- else -%}
                {%- assign validVerInfo = site.data.product_version.version_info_list_desktop -%}
            {%- endif -%}
        {%- else -%}
            {%- assign validVerInfo = site.data.product_version.version_info_list -%}
        {%- endif -%}
        
        {%- if site.data.product_version.useGroupedVersion -%}
            {%- for verInfo in validVerInfo -%}
                {%- assign curVerText = "" -%}
                {%- assign ver = verInfo.value | downcase | strip -%}
                {%- if ver == "latest version"-%}
                    {%- assign curVerText = ver | capitalize -%}
                {%- else -%}
                    {%- assign curVerText = "Version " | append: ver -%}
                {%- endif -%}
                {%- if verInfo.child -%}
                <li class="hasChildLi">
                    <div>{{ curVerText }} <i class="icon-arrow"></i></div>
                    <ul>
                        {%- for childVersion in verInfo.child -%}
                            {%- assign curVerText = "" -%}
                            {%- assign childVersion = childVersion | downcase | strip -%}
                            {%- if childVersion == "latest version"-%}
                                {%- assign curVerText = childVersion | capitalize -%}
                            {%- else -%}
                                {%- assign curVerText = "Version " | append: childVersion -%}
                            {%- endif -%}
                            <li onclick="changeVersion(this)">{{ curVerText }}</li>
                        {%- endfor -%}
                    </ul>
                </li>
                {%- else -%}
                <li onclick="changeVersion(this)">{{ curVerText }}</li>
                {%- endif -%}
            {%- endfor -%}
        {%- else -%}
            {%- for verInfo in validVerInfo -%}
                {%- assign curVerText = "" -%}
                {%- assign verInfo = verInfo | downcase | strip -%}
                {%- if verInfo == "latest version"-%}
                    {%- assign curVerText = verInfo | capitalize -%}
                {%- else -%}
                    {%- assign curVerText = "Version " | append: verInfo -%}
                {%- endif -%}
                <li onclick="changeVersion(this)">{{ curVerText }}</li>
            {%- endfor -%}
        {%- endif -%}
    </ul>
    <a class="fvChange fontOswald" href="javascript:;">Change +</a>
</span>
