{%- capture curPageVersion -%}
	{%- if page.url contains '-v' -%}
		{{ page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
	{%- else -%}
		latest version
	{%- endif -%}
{%- endcapture -%}


{%- assign needRemoveStr = "-v" | append: curPageVersion -%}
{%- assign curUsedToMatchUrl = page.url | remove: needRemoveStr -%}

{%- if curUsedToMatchUrl contains 'index.html' -%}
	{%- assign curUsedToMatchUrl = curUsedToMatchUrl | remove: 'index.html' -%}
{%- endif -%}

{%- assign historyRecode = "" -%}


{%- for my_page in site.pages -%}
	{%- capture tmpPageVersion -%}
		{%- if my_page.url contains '-v' -%}
			{{ my_page.url |  split: '-v' | last | split: '/' | first | replace: '.html', '' | rstrip }}
		{%- else -%}
			latest version
		{%- endif -%}
	{%- endcapture -%}

	{%- assign needRemoveStr = "-v" | append: tmpPageVersion -%}
	{%- assign tmpUsedToMatchUrl = my_page.url | remove: needRemoveStr -%}

	
	{%- if tmpUsedToMatchUrl contains 'index.html' -%}
		{%- assign tmpUsedToMatchUrl = tmpUsedToMatchUrl | remove: 'index.html' -%}
	{%- endif -%}

	{%- if tmpUsedToMatchUrl != curUsedToMatchUrl or curPageVersion == tmpPageVersion -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign newVer = true -%}
	{%- assign historyAry = historyRecode | split: '\nextUrlRecode\' -%}
	{%- for history in historyAry -%}
		{%- assign tmpSize = history | size -%}
		{%- if tmpSize > 20 -%}
			{%- assign historyVer = history | split: 'versionText:' | last -%}
			{%- if historyVer == tmpPageVersion -%}
				{%- assign newVer = false -%}
				{%- break -%}
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}

	{%- unless newVer -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign appendText = "FullUrl:" | append: my_page.url | append: "versionText:" | append: tmpPageVersion -%}
	{%- assign historyRecode = historyRecode | append: '\nextUrlRecode\' | append: appendText -%}
{%- endfor -%}

{%- if curPageVersion == "latest version" -%}
	<p class="currentVersion fontOswald">latest version</p>		
{%- else -%}
	<p class="currentVersion fontOswald">{{ "version " | append: curPageVersion }}</p>
{%- endif -%}

<ul class="otherVersions" style="display: none!important;">
{%- assign historyAry = historyRecode | split: '\nextUrlRecode\' -%}
{%- for history in historyAry -%}
	{%- assign tmpSize = history | size -%}
	{%- if tmpSize > 20 -%}
		{%- assign historyVer = history | split: 'versionText:' | last -%}
		{%- assign historyUrl = history | split: 'versionText:' | first | split: 'FullUrl:' | last -%}
		{%- if historyVer == "latest version" -%}
				<li><a href = "{{ site.firstLevelUrl }}{{ historyUrl }}" class="otherLinkColour">latest version</a></li>		
			{%- else -%}
				<li><a href = "{{ site.firstLevelUrl }}{{ historyUrl }}" class="otherLinkColour">{{ "version " | append: historyVer }}</a></li>
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
</ul>

{%- if historyRecode != '' -%}
	<a class="changeBtn fontOswald" href="javascript:;" style="display: none!important;">Change +</a>
{%- endif -%}
