<div class="crumbsBox">
    <div>
        <div id="crumbs">
            <ul>
                {%- include liquid_breadcrumb.html -%}
            </ul>
        </div>
        {%- comment -%}
            {%- include liquid_autoGenerateHistoryList.html -%}
        {%- endcomment -%}
    </div>
</div>
<div class="iconsBox">
    <div>
        {% capture sourceCodeUrl %}		
            {% if page.url contains '.html' %}		
                {{ page.url | strip | replace: '.html', '.md'}}		
            {% else %}
                {{ page.url	| strip }}index.md
            {% endif %}
        {% endcapture %}
        {%- if page.category -%}
            {%- if page.category == 'js-repo' -%}
                <a href="{{ site.repositoryUrlJS }}{{ sourceCodeUrl | strip }}" class="editLinkColour"><img src="{{ site.assets }}/img-icon/Edit-pencil-write-2.svg" width="30px" height="30px" style="vertical-align: middle;" /></a>
            {%- elsif page.category == 'mobile-repo' -%}
                <a href="{{ site.repositoryUrlMobile }}{{ sourceCodeUrl | strip }}" class="editLinkColour"><img src="{{ site.assets }}/img-icon/Edit-pencil-write-2.svg" width="30px" height="30px" style="vertical-align: middle;" /></a>
            {%- else -%}
                <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="editLinkColour"><img src="{{ site.assets }}/img-icon/Edit-pencil-write-2.svg" width="30px" height="30px" style="vertical-align: middle;" /></a>
            {%- endif -%}
        {%- else -%}
            <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="editLinkColour"><img src="{{ site.assets }}/img-icon/Edit-pencil-write-2.svg" width="30px" height="30px" style="vertical-align: middle;" /></a>
        {%- endif -%}
        <span class="rightMenuControlBtn" style="margin-left: 15px;"><img src="{{ site.assets }}/img-icon/Menu-navigation-menu-4.svg" width="30px" height="30px" style="vertical-align: middle;" /></span>
    </div>
</div>
