<div id="dynamsoft-header">
    <div id="overall-header">
        <!--xs-header-->
        <div id="xsHeader" class="show-block-sm">
            <div id="xsMenu" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                        <div class="xsMenuToggle">
                            <div class="open"><span></span><span></span><span></span></div>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="xsNav">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="menuList">
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">Products <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="subMenus">
                                            <div class="menu-left" style="margin-top: 20px;border-right: 0;">
                                                <ul class="subMenuList">
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/barcode-reader/overview?urlsource=navigation">Dynamsoft Barcode Reader</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/web-twain/overview?urlsource=navigation">Dynamic web twain</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/dotnet-twain/overview?urlsource=navigation">Dynamic .Net twain</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/label-recognition/overview?urlsource=navigation">Dynamsoft Label Recognition</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/camera-enhancer/overview?urlsource=navigation">Dynamsoft Camera Enhancer</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/panorama/barcode-inventory-system/?urlsource=navigation">Dynamsoft Panorama</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase"><a href="https://www.dynamsoft.com/company/customers">Customers</a></div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">USE CASES <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="subMenus">
                                            <div class="menu-left" style="margin-top: 20px;border-right: 0;">
                                                <ul class="subMenuList">
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/driver-license/">Driver's License</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/covid-19/">Covid-19</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/retail/">Retail</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/mrz-scanner/">MRZ Reader</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/more/">Read More &gt;</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">Company <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="subMenus">
                                            <div class="menu-left" style="margin-top: 20px;border-right: 0;">
                                                <ul class="subMenuList">
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/about">ABOUT US</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/contact">CONTACT US</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/careers">CAREERS</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/Company/News.aspx">NEWS</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/blog">BLOG</a></li>
                                                    <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/awards">Awards</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase"><a class="orangeLink" href="https://www.dynamsoft.com/downloads">Download Free Trial</a></div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase"><a href="https://www.dynamsoft.com/purchase-center/">Buy Now</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--sm-header-->
        <div id="smHeader" class="show-block-md">
            <div id="smMenu">
                <div class="container">
                    <a class="ds-logo" href="https://www.dynamsoft.com"> </a>
                    <div class="smMenuToggle">
                        <div class="bars"><span></span> <span></span> <span></span> </div>
                        <span class="textMenu">MENU</span>
                    </div>
                </div>
            </div>
        </div>

        <!--md&lg- header -->
        <div id="mdHeader" class="show-block-lg show-block-xl">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                        <ul id="mdMenu" class="clearfix">
                            <li>
                                <a class="mdMenuToggle proMenu textUpperCase" href="javascript:void(0);">Products <i class="icon-orange-angle"></i></a>
                            </li>
                            <li class="hide-lg">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/company/customers">Customers</a>
                            </li>
                            <li>
                                <a class="mdMenuToggle useCaseMenu textUpperCase" href="javascript:void(0);">USE CASES <i class="icon-orange-angle"></i></a>
                            </li>
                            <li style="margin-right: 0!important;"><a class="mdMenuToggle companyMenu textUpperCase" href="javascript:void(0);">Company <i class="icon-orange-angle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pcMenu" class="container">
        <div class="row">
            <div class="col-xs-12 pr">
                <div id="useCaseSubMenu" class="clearfix hide-sm headSubMenu">
                    <i class="icon-orange-angle"></i>
                    <ul class="subMenuList">
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/driver-license/">Driver's License</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/covid-19/">Covid-19</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/retail/">Retail</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/use-cases/mrz-scanner/">MRZ Reader</a></li>
                        <li class="item textUpperCase"><a class="orangeLink" href="https://www.dynamsoft.com/use-cases/more/">Read More &gt;</a></li>
                    </ul>
                </div>
                <div id="companySubMenu" class="clearfix hide-sm headSubMenu">
                    <i class="icon-orange-angle"></i>
                    <ul class="subMenuList">
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/about">ABOUT US</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/contact">CONTACT US</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/careers/">CAREERS</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/Company/News.aspx">NEWS</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/blog">BLOG</a></li>
                        <li class="item textUpperCase"><a href="https://www.dynamsoft.com/company/awards">Awards</a></li>
                    </ul>
                </div>
                <div id="subMenu" class="clearfix hide-sm">
                    <i class="icon-orange-angle"></i>
                    <div class="subMenuContent">
                        <div class="proPanel">
                            <div class="leftPart">
                                <div class="proLine">
                                    <div class="bigProduct dbr">
                                        <a href="https://www.dynamsoft.com/barcode-reader/overview/?urlsource=navigation">
                                            <div class="icon dbrIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamsoft barcode reader</div>
                                                <div class="intro">1D & 2D barcode reader SDK for desktop, web and mobile</div>
                                            </div>
                                        </a>
                                        <div class="advancedModules">
                                            <p class="fontOswald label">Advanced Modules:</p>
                                            <p class="mb0"><a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/direct-part-marking/">DPM</a> | <a class="textUpperCase" href="https://www.dynamsoft.com/barcode-reader/image-processing-intermediate-output/">Intermediate Results Integration</a></p>
                                        </div>
                                    </div>
                                    <div class="bigProduct dwt">
                                        <a href="https://www.dynamsoft.com/web-twain/overview/?urlsource=navigation">
                                            <div class="icon dwtIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamic web twain</div>
                                                <div class="intro">Cross-browser document scanning SDK for web applications</div>
                                            </div>
                                        </a>
                                        <div class="advancedModules">
                                            <p class="fontOswald label">Advanced Modules:</p>
                                            <p class="mb0"><a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/cpp-ocr-library/">OCR</a> | <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/pdf-to-image-javascript/">PDF Rasterizer</a> | <a class="textUpperCase" href="https://www.dynamsoft.com/web-twain/webcam-sdk-features/">Webcam Capture</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="proLine">
                                    <div class="smallProduct dlr">
                                        <a href="https://www.dynamsoft.com/label-recognition/overview/?urlsource=navigation">
                                            <div class="icon dlrIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamsoft Label Recognition</div>
                                                <div class="intro">Localize and extract key data from specified region using OCR</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="smallProduct dnt">
                                        <a href="https://www.dynamsoft.com/dotnet-twain/overview/?urlsource=navigation">
                                            <div class="icon dntIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamic .Net twain</div>
                                                <div class="intro">Document scanning SDK for .NET desktop applications</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="rightPart">
                                <p class="rightPartTitle fontOswald textUpperCase">Other Technologies</p>
                                <div class="subProduct">
                                    <a href="https://www.dynamsoft.com/panorama/barcode-inventory-system/?urlsource=navigation">
                                        <div class="title fontOswald textUpperCase">Dynamsoft Panorama™</div>
                                        <div class="intro">Proprietary technology for warehouse barcode scanning</div>
                                    </a>
                                </div>
                                <div class="subProduct">
                                    <a href="https://www.dynamsoft.com/camera-enhancer/overview/?urlsource=navigation">
                                        <div class="title fontOswald textUpperCase">Dynamsoft Camera Enhancer</div>
                                        <div class="intro">High-level camera APIs for mobile applications</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ct-bt"><a class="orangeLink fontOswald textUpperCase" href="https://www.dynamsoft.com/products/?urlsource=navigation">See All Products <span>&rsaquo;</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>               
</div>

<div id="menuMask"></div>