<header id="dynamsoft-header" data-nosnippet style="overflow: hidden;">
    <div id="overall-header">
        <!--xs-header-->
        <div id="xsHeader" class="show-block-sm show-block-md">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="xsMenu">
                            <div class="search-icon">
                                <a href="javascript:;"></a>
                            </div>
                            <div class="ds-logo">
                                <a href="https://www.dynamsoft.com"></a>
                            </div>
                            <div id="cp-header">
                                <div id="CPHeader-Container">
                                    <div id="action-nav">
                                        <div class="action-signin">
                                            <div class="header-visitor" style="display: none;">
                                                <a class="fr textUpperCase" href="#">
                                                    <i class="icon-signin"></i>
                                                </a>
                                            </div>
                                            <div class="header-signin">
                                                <div class="userbox pr fr">
                                                    <div class="user-profile">
                                                        <label class="username" id="lblusername"></label>
                                                    </div>
                                                    <div class="popup userbox-more fr pa">
                                                        <div class="arrow-up"></div>
                                                        <ul>
                                                            <li><a href="https://www.dynamsoft.com/customer/">Customer Portal</a></li>
                                                            <li style="display: list-item;"><a href="https://www.dynamsoft.com/sales/">Sales Portal</a></li>
                                                            <li><a href="#" role="button" onclick="logout(event)">Logout</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="search" value="" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mdHeader" class="show-block-lg show-block-xl">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                        <ul id="mdMenu" class="clearfix">
                            <div id="cp-header">
                                <div id="CPHeader-Container">
                                    <ul id="action-nav">
                                            <li class="action-buttons hideSmall">
                                            </li>
                                        <li class="action-signin">
                                            <div class="header-visitor">
                                                <a class="fr" href="#">
                                                    <i class="icon-login"></i> Log in
                                                </a>
                                            </div>
                                            <div class="header-signin">
                                                <div class="userbox pr fr">
                                                    <div class="user-profile">
                                                        <label class="username" id="lblusername"></label>
                                                    </div>
                                                    <div class="popup userbox-more fr pa">
                                                        <div class="arrow-up"></div>
                                                        <ul>
                                                            <li><a href="https://www.dynamsoft.com/customer/">Customer Portal</a></li>
                                                            <li><a href="https://www.dynamsoft.com/sales/">Sales Portal</a></li>
                                                            <li><a href="#" role="button" onclick="logout(event)">Logout</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="menuMask"></div>