<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | escape_once }}">
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- include head.html -%}
</head>

<body>
    {%- include page_header.html -%}
    
    <div class="markdown-body homepageContainer container">
        <div class="row">
            <div class="col-xs-12">
                {% assign productNameClass = '' %}
                {%- if site.firstLevelUrl contains 'barcode-reader/docs/server' -%}
                    {% assign productNameClass = 'dbr-server' %}
                {%- endif -%}
                <div class="content {{productNameClass}}">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        {%- include page_footer.html -%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538F83" height="0" width="0" class="gtm-hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-538F83');</script> 
    <!-- End Google Tag Manager -->
     {%- include livehelp.html -%}
</body>

</html>
