---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}
<body>
  {%- include page_header.html -%}
  {%- include productNav.html -%}

  <div id="main" class="newDocSearch">
    <h1 class="h2 fontOswald tc">Dynamsoft Web TWAIN Document Search</h1>
    <div class="searchDiv clearfix">
      <input type="text" name="searchInput" class="fl" value="" />
      <span class="searchBtn tc fontOswald fr">Search</span>
    </div>
    <div class="searchResult">
      <div class="loading" id="loadingLogin" style="display:none;">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
      <div class="resultList"></div>
    </div>
    <div id="paginationDiv"></div>
  </div>

  {%- include livehelp.html -%}
  
  <script type="text/javascript">
    var pageSize = 20;
    var currentPage = 1;
    var queryString = "";
    $(function () {
      var urlQueryString = getUrlVars(document.URL)["q"]
      if (urlQueryString) {
        $('input[name=searchInput]').val(urlQueryString)
        SearchData(urlQueryString, 1)
      }

      $(".searchBtn").on("click", function () {
        currentPage = 1;
        queryString = $("input[name=searchInput]").val();
        let newUrl = document.URL.split("?")[0]
        history.pushState(null, null, newUrl + "?q=" + queryString);
        SearchData(queryString, currentPage)
      })

      $('input[name=searchInput]').keypress(function (event) {
        if (event.which === 13) {
          currentPage = 1;
          queryString = $("input[name=searchInput]").val();
          SearchData(queryString, currentPage)
        }
      });
    });

    function SearchData(queryString, curPage) {
      $(".dwtDocSearch .searchResult .loading").show()
      $.ajax({
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
        type: "POST",
        url: GLOBAL.SiteRoot + "/Api/AlgoliaSearch/Search",
        dataType: "JSON",
        data: JSON.stringify({
          Index: "{{page.index}}",
          Query: queryString,
          CurrentPage: curPage,
          PageSize: pageSize
        }),
        success: function (res) {
          if (res.code == 0) {
            initData(res.data)
            initPagination(res.data.nbPages)
            $(".dwtDocSearch .searchResult .loading").hide()
          }
        },
        error: function (res) { }
      })
    }

    function initData(data) {
      var resultHtml = ""
      for (var i = 0; i < data.hits.length; i++) {
        resultHtml += `
          <div class="result-item">
            <p class="title"><a class="orangeLink" href="${data.hits[i].url}" target="_blank">${data.hits[i]._snippetResult.title ? data.hits[i]._snippetResult.title.value : data.hits[i].title}</a></p>
            <p class="description">${data.hits[i]._snippetResult.description ? data.hits[i]._snippetResult.description.value : data.hits[i].description}</p>
            <p class="content">${data.hits[i]._snippetResult.content ? data.hits[i]._snippetResult.content.value : data.hits[i].content}</p>
          </div>
        `
      }
      $(".searchResult .resultList").html(resultHtml);
    }

    function initPagination(totalPage) {
      var paginationHtml = '<ul class="pagination">'
      for (var i = 0; i < totalPage; i++) {
        if (i + 1 == currentPage) {
          paginationHtml += '<li class="paginationItem on" page="' + (i + 1) + '">' + (i + 1) + '</li>';
        } else {
          paginationHtml += '<li class="paginationItem" page="' + (i + 1) + '">' + (i + 1) + '</li>';
        }
      }
      paginationHtml += '</ul>';
      $('#paginationDiv').html(paginationHtml);

      $('.paginationItem').on('click', function () {
        window.scrollTo(0, 0);
        currentPage = Number($(this).attr("page"))
        SearchData(queryString, currentPage)
      });
    }
  </script>
</body>

</html>