# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events
  push:
    branches: 
    - main 
    - preview 

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  Update-DBR-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs
      doc-url: barcode-reader/docs/core
    secrets: inherit

  Update-DBR-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-server
      doc-url: barcode-reader/docs/server
    secrets: inherit

  Update-DBR-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-mobile
      doc-url: barcode-reader/docs/mobile
    secrets: inherit

  Update-DBR-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-js
      doc-url: barcode-reader/docs/web
    secrets: inherit


  Update-DCV-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs
      doc-url: capture-vision/docs/core
    secrets: inherit

  Update-DCV-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-server
      doc-url: capture-vision/docs/server
    secrets: inherit


  Update-DCV-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-mobile
      doc-url: capture-vision/docs/mobile
    secrets: inherit


  Update-DCV-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-js
      doc-url: capture-vision/docs/web
    secrets: inherit


  Update-DLR-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs
      doc-url: label-recognition/docs/core
    secrets: inherit


  Update-DLR-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-server
      doc-url: label-recognition/docs/server
    secrets: inherit


  Update-DLR-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-mobile
      doc-url: label-recognition/docs/mobile
    secrets: inherit


  Update-DLR-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-js
      doc-url: label-recognition/docs/web
    secrets: inherit


  Update-DDN-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs
      doc-url: document-normalizer/docs/core
    secrets: inherit

  Update-DDN-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-server
      doc-url: document-normalizer/docs/server
    secrets: inherit

  Update-DDN-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-mobile
      doc-url: document-normalizer/docs/mobile
    secrets: inherit


  Update-DDN-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-js
      doc-url: document-normalizer/docs/web
    secrets: inherit


  Update-DCP-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs
      doc-url: code-parser/docs/core
    secrets: inherit

  Update-DCP-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-server
      doc-url: code-parser/docs/server
    secrets: inherit

  Update-DCP-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-mobile
      doc-url: code-parser/docs/mobile
    secrets: inherit

  Update-DCP-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-js
      doc-url: code-parser/docs/web
    secrets: inherit


  Update-DCE-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs
      doc-url: camera-enhancer/docs/core
    secrets: inherit


  #Update-DCE-Server-On-Main-Change:
  #  if: ${{ github.ref == 'refs/heads/main' }}
  #  uses: ./.github/workflows/called-workflow-build-sync-production.yml
  #  with:
  #    doc-repo: camera-enhancer-docs-server
  #    doc-url: camera-enhancer/docs/server
  #  secrets: inherit


  Update-DCE-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs-mobile
      doc-url: camera-enhancer/docs/mobile
    secrets: inherit

  Update-DCE-JS-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs-js
      doc-url: camera-enhancer/docs/web
    secrets: inherit

  Update-DWT-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: web-twain-docs
      doc-url: web-twain/docs
    secrets: inherit

  Update-DDV-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-viewer-docs
      doc-url: document-viewer/docs
    secrets: inherit

  Update-MWC-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: mobile-web-capture-docs
      doc-url: mobile-web-capture/docs
    secrets: inherit

  Update-DLS-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: license-server-docs
      doc-url: license-server/docs
    secrets: inherit

  Update-MRZ-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: mrz-scanner-docs
      doc-url: mrz-scanner/docs/core
    secrets: inherit

  Update-MRZ-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: mrz-scanner-docs-mobile
      doc-url: mrz-scanner/docs/mobile
    secrets: inherit

  Update-MRZ-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: mrz-scanner-docs-js
      doc-url: mrz-scanner/docs/web
    secrets: inherit

  Update-BBS-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: batch-barcode-scanner-docs
      doc-url: batch-barcode-scanner/docs
    secrets: inherit

  Update-MDS-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: mobile-document-scanner-docs-js
      doc-url: mobile-document-scanner/docs/web/
    secrets: inherit


  Update-DBR-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: barcode-reader-docs
      doc-url: barcode-reader/docs/core
    secrets: inherit

  Update-DBR-Server-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: barcode-reader-docs-server
      doc-url: barcode-reader/docs/server
    secrets: inherit

  Update-DBR-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: barcode-reader-docs-mobile
      doc-url: barcode-reader/docs/mobile
    secrets: inherit

  Update-DBR-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: barcode-reader-docs-js
      doc-url: barcode-reader/docs/web
    secrets: inherit

  Update-DCV-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: capture-vision-docs
      doc-url: capture-vision/docs/core
    secrets: inherit

  Update-DCV-Server-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: capture-vision-docs-server
      doc-url: capture-vision/docs/server
    secrets: inherit

  Update-DCV-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: capture-vision-docs-mobile
      doc-url: capture-vision/docs/mobile
    secrets: inherit

  Update-DCV-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: capture-vision-docs-js
      doc-url: capture-vision/docs/web
    secrets: inherit

  Update-DLR-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: label-recognition-docs
      doc-url: label-recognition/docs/core
    secrets: inherit

  Update-DLR-Server-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: label-recognition-docs-server
      doc-url: label-recognition/docs/server
    secrets: inherit

  Update-DLR-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: label-recognition-docs-mobile
      doc-url: label-recognition/docs/mobile
    secrets: inherit

  Update-DLR-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: label-recognition-docs-js
      doc-url: label-recognition/docs/web
    secrets: inherit

  Update-DDN-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: document-normalizer-docs
      doc-url: document-normalizer/docs/core
    secrets: inherit

  Update-DDN-Server-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: document-normalizer-docs-server
      doc-url: document-normalizer/docs/server
    secrets: inherit

  Update-DDN-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: document-normalizer-docs-mobile
      doc-url: document-normalizer/docs/mobile
    secrets: inherit

  Update-DDN-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: document-normalizer-docs-js
      doc-url: document-normalizer/docs/web
    secrets: inherit

  Update-DCP-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: code-parser-docs
      doc-url: code-parser/docs/core
    secrets: inherit

  Update-DCP-Server-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: code-parser-docs-server
      doc-url: code-parser/docs/server
    secrets: inherit

  Update-DCP-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: code-parser-docs-mobile
      doc-url: code-parser/docs/mobile
    secrets: inherit

  Update-DCP-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: code-parser-docs-js
      doc-url: code-parser/docs/web
    secrets: inherit

  Update-DCE-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: camera-enhancer-docs
      doc-url: camera-enhancer/docs/core
    secrets: inherit

  Update-DCE-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: camera-enhancer-docs-mobile
      doc-url: camera-enhancer/docs/mobile
    secrets: inherit

  Update-DCE-JS-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: camera-enhancer-docs-js
      doc-url: camera-enhancer/docs/web
    secrets: inherit

  Update-DWT-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: web-twain-docs
      doc-url: web-twain/docs
    secrets: inherit

  Update-DDV-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: document-viewer-docs
      doc-url: document-viewer/docs
    secrets: inherit

  Update-MWC-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: mobile-web-capture-docs
      doc-url: mobile-web-capture/docs
    secrets: inherit

  Update-DLS-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: license-server-docs
      doc-url: license-server/docs
    secrets: inherit

  Update-MRZ-Core-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: mrz-scanner-docs
      doc-url: mrz-scanner/docs/core
    secrets: inherit

  Update-MRZ-Mobile-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: mrz-scanner-docs-mobile
      doc-url: mrz-scanner/docs/mobile
    secrets: inherit

  Update-MRZ-Js-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: mrz-scanner-docs-js
      doc-url: mrz-scanner/docs/web
    secrets: inherit

  Update-BBS-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: batch-barcode-scanner-docs
      doc-url: batch-barcode-scanner/docs
    secrets: inherit

  Update-MDS-On-Preview-Change:
    if: ${{ github.ref == 'refs/heads/preview' }}
    uses: ./.github/workflows/called-workflow-build-sync-testing.yml
    with:
      doc-repo: mobile-document-scanner-docs-js
      doc-url: mobile-document-scanner/docs/web/
    secrets: inherit

