# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events
  #push:
    #branches: 
    #- DCV-v2 
    #- preview 

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  Update-DBR-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs
      doc-url: barcode-reader/docs/v10/core
      doc-branch: v10
    secrets: inherit

  Update-DBR-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-server
      doc-url: barcode-reader/docs/v10/server
      doc-branch: v10
    secrets: inherit

  Update-DBR-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-mobile
      doc-url: barcode-reader/docs/v10/mobile
      doc-branch: v10
    secrets: inherit

  Update-DBR-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: barcode-reader-docs-js
      doc-url: barcode-reader/docs/v10/web
      doc-branch: v10
    secrets: inherit


  Update-DCV-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs
      doc-url: capture-vision/docs/v2/core
      doc-branch: v2
    secrets: inherit

  Update-DCV-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-server
      doc-url: capture-vision/docs/v2/server
      doc-branch: v2
    secrets: inherit


  Update-DCV-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-mobile
      doc-url: capture-vision/docs/v2/mobile
      doc-branch: v2
    secrets: inherit


  Update-DCV-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: capture-vision-docs-js
      doc-url: capture-vision/docs/v2/web
      doc-branch: v2
    secrets: inherit


  Update-DLR-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs
      doc-url: label-recognition/docs/v2/core
      doc-branch: v2
    secrets: inherit


  Update-DLR-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-server
      doc-url: label-recognition/docs/v2/server
      doc-branch: v2
    secrets: inherit


  Update-DLR-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-mobile
      doc-url: label-recognition/docs/v2/mobile
      doc-branch: v2
    secrets: inherit


  Update-DLR-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: label-recognition-docs-js
      doc-url: label-recognition/docs/v2/web
      doc-branch: v2
    secrets: inherit


  Update-DDN-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs
      doc-url: document-normalizer/docs/v2/core
      doc-branch: v2
    secrets: inherit

  Update-DDN-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-server
      doc-url: document-normalizer/docs/v2/server
      doc-branch: v2
    secrets: inherit

  Update-DDN-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-mobile
      doc-url: document-normalizer/docs/v2/mobile
      doc-branch: v2
    secrets: inherit


  Update-DDN-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: document-normalizer-docs-js
      doc-url: document-normalizer/docs/v2/web
      doc-branch: v2
    secrets: inherit


  Update-DCP-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs
      doc-url: code-parser/docs/v2/core
      doc-branch: v2
    secrets: inherit

  Update-DCP-Server-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-server
      doc-url: code-parser/docs/v2/server
      doc-branch: v2
    secrets: inherit

  Update-DCP-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-mobile
      doc-url: code-parser/docs/v2/mobile
      doc-branch: v2
    secrets: inherit

  Update-DCP-Js-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: code-parser-docs-js
      doc-url: code-parser/docs/v2/web
      doc-branch: v2
    secrets: inherit


  Update-DCE-Core-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs
      doc-url: camera-enhancer/docs/v2/core
      doc-branch: v2
    secrets: inherit


  Update-DCE-Mobile-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs-mobile
      doc-url: camera-enhancer/docs/v2/mobile
      doc-branch: v2
    secrets: inherit

  Update-DCE-JS-On-Main-Change:
    if: ${{ github.ref == 'refs/heads/DCV-v2' }}
    uses: ./.github/workflows/called-workflow-build-sync-production.yml
    with:
      doc-repo: camera-enhancer-docs-js
      doc-url: camera-enhancer/docs/v2/web
      doc-branch: v2
    secrets: inherit
